{
  "plugins": [
    "emotion",
    "polished"
  ],
  "env": {
    "cjs": {
      "presets": [
        "@jaredlunde/esx",
        "@jaredlunde/react"
      ]
    },
    "es": {
      "presets": [
        ["@jaredlunde/esx", {"env": {"modules": false}}],
        "@jaredlunde/react"
      ]
    }
  }
}
